@{
    Layout = "_NavigationLayout";
}

<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Jumlah Mahasiswa</div>
    <div class="card-body">
        <h5 class="card-title">@ViewBag.TotalMahasiswa</h5>
        <p class="card-text">Total data mahasiswa yang terdaftar.</p>
    </div>
</div>
