@{
    Layout = "_NavigationLayout";
}

<div class="max-w-sm bg-blue-600 text-white rounded-lg shadow-lg p-4 mb-6">
    <div class="text-lg font-semibold border-b border-blue-400 pb-2 mb-2">
        Jumlah Mahasiswa
    </div>
    <div>
        <h5 class="text-3xl font-bold">@ViewBag.TotalMahasiswa</h5>
        <p class="text-sm mt-1">Total data mahasiswa yang terdaftar.</p>
    </div>
</div>
